@model DroneDeliveryweb.Models.Viewmodel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Drone Delivery <img src="~/Images/Drone.jpg" alt="Image" width="100" height="100" class="left"/></h1>
</div>
@*@Model.Customer.Name
@Model.Customer.LastName
@Model.Customer.Email
@Model.Customer.Street
@Model.Customer.City
@Model.Customer.Zip*@
<div class="row">
    <div class="col-md-9">
        <div class="col-md-9">
            <div class="input-group">

                <form action="@Url.Action("GetCustomerData")" method="post">
                    <span class="input-group-btn">
                        <button class="btn btn-default" id="GetCustomer" type="submit">Get Customer by ID</button>
                    </span>
                    <input type="text" name="id" class="form-control" value="@Model.Customer.Id" />
                </form>
            </div>
        </div>
        <div class="col-md-8">
            @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <h2>Customer Info:</h2>

        <div class="form-group">
            @Html.LabelFor(model => model.Customer.Name, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Customer.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Customer.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Customer.LastName, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Customer.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Customer.LastName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Customer.Email, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Customer.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Customer.Email, "", new { @class = "text-danger" })
            </div>

        </div>
}
        </div>
        </div>
    <div class="col-md-3">
        <form action="@Url.Action("ClearAll")">
            <input type="submit" class="btn btn-default" id="ClearAll" value="Clear All"/>
        </form>
        
    </div>
</div>
<div class="row">
            <div class="col-md-12">

                <form action="@Url.Action("GetToCoordinates")" method="post">
                    @Html.Hidden("customerId", Model.Customer.Id)
                    <div class="col-md-6">
                        <h2>From:</h2>

                        <hr />

                        <label class="control-label col-md-12">Street:</label>
                        <input type="text" name="FromAddress" class="form-control" value="@Model.Customer.Street" readonly />
                        <label class="control-label col-md-12">City:</label>
                        <input type="text" name="FromCity" class="form-control" value="@Model.Customer.City" readonly />
                        <label class="control-label col-md-12">Zip:</label>
                        <input type="text" name="FromZip" class="form-control" value="@Model.Customer.Zip" readonly />
                        <hr />
                        <label class="control-label col-md-12">Price:</label>
                        <input name="Price" type="text" class="form-control" value="@Model.Coordinates.Price" readonly />
                        <div class="form-group">
                            <label class="control-label col-md-12">Lat:</label>
                            <div class="col-md-12">
                                <input name="FromLat" type="text" readonly class="form-control" value="@Model.Coordinates.Fromlat" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-12">Long:</label>
                            <div class="col-md-12">
                                <input name="FromLng" type="text" readonly class="form-control" value="@Model.Coordinates.Fromlng" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <h2>To:</h2>

                        <hr />

                        <label class="control-label col-md-12">Street:</label>
                        <input type="text" name="ToStreet" class="form-control" value="@Model.Coordinates.ToStreet" />
                        <label class="control-label col-md-12">City:</label>
                        <input type="text" name="ToCity" class="form-control" value="@Model.Coordinates.ToCity" />
                        <label class="control-label col-md-12">Zip:</label>
                        <input type="text" name="ToZip" class="form-control" value="@Model.Coordinates.ToZip" />
                        <hr />
                        <label class="control-label col-md-12">Weight:</label>
                        <input name="Weight" type="text" class=" form-control" value="@Model.Coordinates.Weight" />
                        <div class="form-group">
                            <label class="control-label col-md-12">Lat:</label>
                            <div class="col-md-12">
                                <input name="ToLat" type="text" readonly class="form-control" value="@Model.Coordinates.ToLat" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-12">Long:</label>
                            <div class="col-md-12">
                                <input name="ToLng" type="text" readonly class="form-control" value="@Model.Coordinates.ToLng" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <label class="control-label col-md-12">Distance:</label>
                                <input name="Distance" type="text" class="form-control" readonly value="@Model.Coordinates.Distance" />
                            </div>
                            <div>
                                <label>Weather:</label>
                                <input name="Weather" type="text" class="form-control" readonly value="@Model.Coordinates.Weather" />
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-12">
                                <input id="GetToCoordinates" type="submit" value="Calculate" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-default" id="CreateOrder" value="Create Order" formaction="@Url.Action("CreateOrder")" />
                </form>

            </div>









            
            
        </div>
    











@* <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@








